<div class="row">
    <div class="col s1" ng-repeat="res in resolvedQueries track by $index">
        <div class="card-panel white" style="padding: 5px">
            {{$index + 1}} {{res}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <a class="waves-effect waves-light btn" ng-click="checkAjax()" style="width: 100%">Resolve AJAX</a>
    </div>
    <div class="col s6">
        {{allResolved}}
    </div>
</div>
<div class="row">
    <div class="col s6">
        <a class="waves-effect waves-light btn" ng-click="checkSocket()" style="width: 100%">Resolve Socket</a>
    </div>
    <div class="col s6">
        {{allResolved}}
    </div>
</div>
