<div class="row" style="padding-top:50px">
    <form class="col l4 m12 s12 offset-l4" ng-submit="login()">
        <div class="card grey lighten-5 login noselect">
            <div class="valign-wrapper" style="border-bottom: 1px solid rgba(160,160,160,0.2);">
                <h1 class="page-title full-width center-align raleway-title">Optimizer</h1>
            </div>
            <div class="card-content">
                <ul id="error-message" ng-show="validationMessage != ''">
                    <li class="" style="transform: translateX(0px); opacity: 0;">
                        <div class="card-panel  red lighten-1" >
                            <span class="white-text">
                                {{validationMessage}}
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="opt-login" type="text"  ng-model="credentials.username" ng-class="{invalid: emptyLoginValidationFailed}">
                        <label for="opt-login">Login</label>
                    </div>
                    <div class="input-field col s12" class="noselect">
                        <i class="mdi-action-lock prefix"></i>
                        <input id="opt-password" type="password" ng-model="credentials.password" ng-class="{invalid: emptyPasswordValidationFailed}">
                        <label for="opt-password">Password</label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="waves-effect waves-light btn-large light-blue lighten-1 full-width" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
