<!DOCTYPE html>
<html ng-app="platform.app" ng-controller="AppController">
<head>
    <title ng-bind="pageTitle"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>



</head>
<body>
<pre-loader ng-show="loadingScreen > 0"></pre-loader>

<div ng-controller="navigation" class="fixed-action-btn noselect" ng-cloak ng-show="authenticated">
    <a class="btn-floating btn-large  light-blue lighten-1">
        <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
        <li><a class="btn-floating grey lighten-5"><i class="large mdi-action-exit-to-app red-text text-lighten-1" ng-click="logout()"></i></a></li>
        <li><a class="btn-floating" ng-class="{'light-blue lighten-1': isOn('settings'), 'grey lighten-5': !isOn('settings')}"
               ng-click="isOn('settings') || goto('settings.preferences')">
            <i class="large mdi-action-settings" ng-class="{'white-text': isOn('settings'), 'grey-text': !isOn('settings')}"></i></a>
        </li>
        <li><a class="btn-floating" ng-class="{'light-blue lighten-1': isOn('dashboard'), 'grey lighten-5': !isOn('dashboard')}"
               ng-click="isOn('dashboard') || goto('dashboard')">
            <i class="large mdi-editor-insert-chart" ng-class="{'white-text': isOn('dashboard'), 'grey-text': !isOn('dashboard')}"></i></a>
        </li>
    </ul>
</div>
<main ui-view style="height: 100%" class="{{mainClass}} anim-in-out anim-fade main-view" data-anim-speed="500">
</main>

</body>

</html>
