<!DOCTYPE html>
<html ng-app="platform.app" ng-controller="AppController">
<head>
    <title ng-bind="pageTitle"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>
<body>
<pre-loader ng-show="loadingScreen > 0"></pre-loader>

<main ui-view style="height: 100%" class="anim-in-out anim-fade main-view" data-anim-speed="500">
</main>

</body>

</html>
